.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  /* */
  body {
    background-color: #3F4531;
    color: #5FDD9D;
  }

.header h1 {
    justify-content: center;
    text-decoration: underline;
}

/* SECOND ROW */

nav {
    display: flex;
    outline: double 6px #222823;
    justify-content: center;
    gap: 8px;
}

nav ul {
list-style: none;
}

nav button {
    padding: px;
    border-radius: 10%;
    background-color: #499167
    ;
    
}

.nav a {
    text-decoration: none;
    color: #91F9E5;
  }

  /* THIRD ROW */

/* .socialsBox {
    justify-self: center;
    align-items: center;
} */
  
.socialsRow h2 {
    justify-self: center;
    align-items: center;
    text-decoration: underline;
    
}

.socials h2 {
  padding-top: 5px;
}

.socialsBox {
    border-bottom: double 6px #222823;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.socialsBox a {
    text-decoration: none;
    color: #91F9E5;
}

.socialsBox button {
    padding-bottom: px;
    border-radius: 10%;
    background-color: #499167;
}

/* FOURTH ROW */

.aboutMeBox p {
  text-align: center;
  
}

.aboutMeBox {
  border-bottom: double 6px #222823;
  padding-left: 10px;
  padding-right: 10px;
}

/* FIFTH ROW */

/* .myProjectsRow {
  justify-content: center;
  align-items: center;
  display: flex;
} */

.projectBox {
  border-bottom: double 6px#222823
}

/* SIXTH ROW */

.projectImg {
  width: 350px;
  height: auto;
  display: flex;
  justify-self: center;
  border: double 6px #222823;
  padding: 2px;
}

.projectBox h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectBox p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SEVENTH ROW */

#contactMe h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactMe h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.batsImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.batsImg img {
  width: 38%;
}

p {
  font-size: 1.25rem;
}

.projectBox {
  display: flex;
}